body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.contenedor {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #008f39;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}
