body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    color: #444;
    margin-top: 0;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.label-fecha {
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    color: #444;
    font-weight: bold;
}

.check {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

button {
    background: #008f39;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #007530;
}

#mensaje {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: red;
}
